@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --dark: #181a1e;
  --light: #fbfbfb;
  --primary: #0a5eb3;
  --light-primary: #cfe8ff;
  --grey: #ccc;
  --dark-grey: #363949;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  /* color: var(--light); */
}

header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  margin-bottom: 24px;
  font-size: 20px;
}
header .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
header .header-span {
  color: var(--primary);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: var(--dark-grey);
  color: var(--light);
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  padding: 24px;
}

main.index {
  align-items: center;
}

main section.section-form {
  width: 264px;
}

main section.section-form .input-group {
  margin: 24px 0px;
}

main section.submit-message {
  margin: 24px;
  color: var(--light);
  width: 100%;
  text-align: center;
}

main.tables {
  gap: 48px;
  flex-direction: row;
}
.row {
    gap: 2rem;
    display: inline;
}
footer {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  font-size: 20px;
  color: var(--dark-grey);
}
