@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --dark: #181a1e;
  --light: #fbfbfb;
  --primary: #0a5eb3;
  --light-primary: #cfe8ff;
  --grey: #ccc;
  --dark-grey: #363949;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
